html,
body {
  padding: 0;
  margin: 0;
  font-family: Century Gothic, sans-serif;
  background-color: #202225;
}

a {
  color: #525050 !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
  }
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card {
  background: black;
  border-radius: 15px;
  overflow: hidden;
  height: 400px;
  color: #fff;
  cursor: pointer;
}

.card-top > img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  background: black;
}
