html,
body {
  padding: 0;
  margin: 0;
  font-family: Century Gothic, sans-serif;
  background-color: #202225;
}

a {
  color: #525050 !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
  }
}
